// Variables
$gruen: #aae7aa;
$gruen-alt: darken($gruen, 25%);
$gelb: #f3ffb1;
$gelb-alt: darken($gelb, 35%);
$rot: #f7b5b5;
$rot-alt: darken($rot, 25%);

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* umgerechnet 10px */
}

body {
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

input, button, select {
    font-size: 1.3rem;
}
h1 {
    font-weight: 300;
    font-size: 2.4rem; /* wegen der font-size: 62.5%; in html, sind dies genau 24px; */
}

@import './components/titleBar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/spieler';
@import './components/form';

